{% schema %}
{
  "name": "Bestsellers",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Section Title",
      "default": "Bestsellers"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Select Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Bestsellers",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class="bestsellers-section">
  <h2>{{ section.settings.title }}</h2>
  <div class="bestsellers-container">
    {% for block in section.blocks %}
      {% if block.type == 'product' %}
        {% assign product = block.settings.product %}
        {% if product %}
          <div class="bestseller-item">
            <a href="{{ product.url }}">
              <img width="" height="" src="{{ product.featured_image | img_url: '500x' }}" alt="{{ product.title }}" loading="lazy">
           
            <p class="product-vendor">{{ product.vendor }} </p>
            <p class="product-title">{{ product.title }}</p>
            <p class="product-price">{{ product.price | money_without_trailing_zeros }}</p>
           </a>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>

<style>
.bestsellers-section {
  text-align: center;
  margin: 40px 0;
}

.bestsellers-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.bestseller-item {
  max-width: 268px;
  text-align: center;
}

.bestseller-item img {
  width: 100%;
  height: auto;
  display: block;
}

.product-title {
 font-family: Montserrat Regular,sans-serif;
 font-height: 1.286;
 font-size: 14px;
 text-transform: uppercase;
 text-align: start;
}

.product-price {
  color: #333;
  text-align: start;
}
</style>
